CONFIG_RISCV=y
CONFIG_TEXT_BASE=0x80200000
CONFIG_SYS_MALLOC_LEN=0x01000000
CONFIG_SYS_MALLOC_F_LEN=0x3000
CONFIG_NR_DRAM_BANKS=1
CONFIG_DEFAULT_DEVICE_TREE="shakti_yamuna"
CONFIG_SYS_BOOTM_LEN=0x08000000
CONFIG_DEBUG_UART_BASE=0x00011300
CONFIG_DEBUG_UART_CLOCK=50000000
CONFIG_TARGET_SHAKTI_YAMUNA=y
CONFIG_RISCV_SMODE=y
# CONFIG_RISCV_ISA_F is not set
CONFIG_BOOTDELAY=5
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttyS0,19200n8 earlycon=sbi"
CONFIG_SYS_PROMPT="Shakti U-Boot> "
CONFIG_CMD_MMC=y
CONFIG_CMD_SPI=y
CONFIG_OF_EMBED=y
CONFIG_MMC=y
CONFIG_MMC_BROKEN_CD=y
CONFIG_MMC_SPI=y
CONFIG_FTSDC010=y
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SHAKTI_SERIAL=y
CONFIG_SPI_SHAKTI=y
